@import '../vars.scss';

.recipe-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 15%;
}

.recipecard-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    &:hover{
        opacity: 0.7;
    }
}
