@import "global";
@import "vars";

body {
  background-color: $bgcolor;
  font-family: arial;
  font-size: 24px;
}

h1 {
  color: white;
  font-size: 48px;
  text-align: center;
}

a {
  text-decoration: none;
}

label {
  padding: 10px
}

.home-item {
  display: inline-block;
  color: black;
  background-color: white;
  text-decoration: none;
  padding: 70px 0px;
  width: 350px;
  margin: 10px;
  text-align: center;
}

.bottom-row {
  margin: auto;
  text-align: center;
}

.top-row {
  margin: auto;
  text-align: center;
}

.form-item {
  padding: 10px 20px;
}

.recipe-form {
  margin: 0 auto;
  width: 70%;
  border-color: white;
  border-style: solid;
  border-width: thin;
}

.home-button {
  border-color: white;
  color: white;
  border-style: solid;
  border-width: thin;
  width: 100px;
  text-align: center;
}

.recipe-wrapper {
  padding: 30px 50px;
  background-color: white;
  width: 50%;
  margin: 0 auto;
}

.recipe-wrapper img  {
  width: 400px;
  height: 320px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.field {
  float: left;
  padding: 0px 5px 5px 5px;
}

.filter-fields {
  border-style: solid;
  border-width: thin;
  float: left;
  text-align: center;
  background-color: white;
}

.form-wrapper {
  position: relative;
  margin: 0 auto;
  width: 40%;
}

.recipe-wrapper-small {
  display: inline-block;
  padding: 20px;
  margin: 10px;
  border: 10px solid transparent;
  font-size: 12px;
  border-width: thin;
  border-color: white;
  border-style: solid;
}

.recipe-wrapper-small img {
  width: 10px 10px;
  height: 10;
  padding: 0px;
  margin: 0px;
  object-fit: cover;
}

.search-results {
  float: none;
  display: inline-block;
}
