@import "global";
@import "vars";

body {
  background-color: $bgcolor;
  font-family: arial;
  font-size: 24px;
}

h1 {
  color: white;
  font-size: 48px;
  text-align: center;
}

a {
  text-decoration: none;
}

label {
  padding: 10px
}

.home-item {
  display: inline-block;
  color: black;
  background-color: white;
  text-decoration: none;
  padding: 70px 0px;
  width: 350px;
  margin: 10px;
  text-align: center;
}

.bottom-row {
  margin: auto;
  text-align: center;
}

.top-row {
  margin: auto;
  text-align: center;
}

.form-item {
  padding: 10px 20px;
}


.recipe-form {
  margin: 0 auto;
  width: 70%;
  border-color: white;
  border-style: solid;
  border-width: thin;
}

.home-button {
  border-color: white;
  color: white;
  border-style: solid;
  border-width: thin;
  width: 100px;
  text-align: center;
}
